*, *::before, *::after {
  box-sizing: border-box;
}

@font-face {
  font-family: 'PT Sans';
  font-display: swap;
  src: local('PT Sans'), url('../fonts/web/ptsansnarrow.woff2') format('woff2'), url('../fonts/web/ptsansnarrow.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PT Sans';
  font-display: swap;
  src: local('PT Sans'), url('../fonts/web/ptsansnarrowbold.woff2') format('woff2'), url('../fonts/web/ptsansnarrowbold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

body {
  line-height: 24px;
  font-size: 14px;
  font-family: 'PT Sans';
  color: #ffffff;
  text-transform: uppercase;

  background: #000000;
}

a {
  text-decoration: none;
  color: #ffffff;
}

ul {
  padding: 0;

  list-style: none;
}

img {
  max-width: 100%;
  text-transform: initial;
}
button {
  cursor: pointer;
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
}

.navigation__list {
  display: flex;
}

.navigation__link {
  font-size: 16px;
}

.header__btn-sign-in {
  font-size: 16px;
}

/* ADVANTAGES */
.main-block {
  background-image: url('../img/bg-borodinski.jpg');
}

.advantages__list {
  display: flex;
  justify-content: center;
  padding: 0 50px;
}

.advantages__item + .advantages__item {
  margin-left: 40px;
}

.advantages__header {
  text-align: center;
  color: #f7f4f1;
}

.advantages__text {
  text-align: center;
  color: #f7f4f1;
  font-weight: 700;
}

/* NEWS & GALLERY */
.news {
  flex-basis: 50%;

  /* margin-left: 50px; */
}

.news__list {
  padding: 0;
}

.news .header-text {
  color: #000000;
}

.news-item__text {
  color: #000000;
  font-weight: 700;
}

.news-item__date {
  color: #000000;
  font-weight: 700;
  text-transform: lowercase;
}

.gallery {
  flex-basis: 50%;
  margin-left: 100px;
  display: flex;
  flex-direction: column;
}

.gallery .header-text {
  color: #000000;
}

/* CONTACTS & FORM SECTION */
.contacts {
  flex-basis: 50%;
}

.contacts .header-text {
  color: #000000;
}

.contacts__text {
  color: #000000;
  font-weight: 700;
}

.form-section {
  flex-basis: 50%;
  margin-left: 100px;
}

.form-section .header-text {
  color: #000000;
}

.form-section__text {
  color: #000000;
  font-weight: 700;
}

/* FOOTER */
.footer {
  display: flex;
  justify-content: space-between;
  padding: 50px;

  background-color: #212121;
}

.footer__text {
  font-weight: 700;
  margin: 0;
}

.wrapper_bg-light {
  display: flex;
  justify-content: space-between;
  margin: 50px;
  padding: 50px;

  background-color: #ffffff;
}

/* PERSONAL ACCOUNT & MAP BLOCK */
.personal-account {
  display: none;
}

.map-block {
  display: none;
}

/* TEXTS SIZES */
.header-text {
  line-height: 42px;
  font-size: 30px;
}

.middle-header-text {
  font-size: 24px;
}

.small-header-text {
  font-size: 20px;
}

/* BUTTONS */
.btn {
  line-height: 24px;
  font-size: 14px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #000000;
}

.visually-hidden {
  position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0, 0, 0, 0);
	overflow: hidden;
}